.row .calendar {
    background: #0C0C0CE8;
    /*color: #FFF;*/
    color: #000;
    width: 100%;
    font-family: 'Oxygen',serif;
    table-layout: fixed;
}

.calendar.purple {
    background: #913CCD;
}

.calendar.pink {
    background: #F15F74;
}

.calendar.orange {
    background: #F76D3C;
}

.calendar.yellow {
    background: #F7D842;
}

.calendar.green {
    background: #98CB4A;
}

.calendar.grey {
    background: #839098;
}
.calendar.light-grey {
    /*background: #E5E5E5;*/
    background: #fff;
    box-shadow: 0 0 40px 6px rgba(0, 0, 0, 0.06);
}

.calendar.blue {
    background: #5481E6;
}

.calendar-title th {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.05);
}

.calendar-header th {
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
}

.calendar tbody tr td {
    text-align: center;
    vertical-align: top;
    width: 14.28%;
}

.calendar tbody tr td.pad {
    background: rgba(255, 255, 255, 0.1);
}

.calendar tbody tr td.day {}

.calendar tbody tr td.day div:first-child {
    padding: 4px;
    line-height: 17px;
    height: 25px;
    color:black;
}

.calendar tbody tr td.day div:last-child {
    font-size: 10px;
    padding: 4px;
    min-height: 25px;
}

.calendar tbody tr td.today {
    background: rgba(0, 0, 0, 0.25);
}

.calendar tbody tr td.mask-start,
.calendar tbody tr td.mask,
.calendar tbody tr td.mask-end {
    background: #C23B22;
}

.calendar .cal-weekview-time {
    border: rgba(0, 0, 0.25);
}

.calendar .cal-weekview-time {
    padding: 4px 2px 2px 4px;
}

.calendar .cal-weekview-time>div {
    background: rgba(0, 0, 0, 0.03);
    padding: 10px;
    min-height: 50px;
}

.calendar .cal-weekview-event.mask-start,
.calendar .cal-weekview-event.mask,
.calendar .cal-weekview-event.mask-end {
    background: #C23B22;
    margin-bottom: 3px;
    padding: 5px;
}

.calendar .cal-weekview-time-th {
    background: rgba(0, 0, 0, .1);
}

.calendar .cal-weekview-time-th>div {
    padding: 10px;
    min-height: 50px;
}

.calendar .event-summary-row {
    display: block;
}

.row .calendar tbody tr td.cal-day, .row .calendar tbody tr td.pad{ border-bottom: 1px solid #eee;}
.row .calendar tbody tr td.cal-day{ padding:6px;background: #F1111185;}
.row .calendar tbody tr td.event-green{background:#22A71CAB;}
.row .calendar tbody tr td.event-yellow{background:#E6CF04B8;}
.row .calendar tbody tr td.event-blue{background:#0A8CEE78}
.row .calendar tbody tr td.event-red{background: #F1111185;}
.row .calendar tbody tr td.event-orange{background: rgba(255, 165, 0, 0.75);}
.row .calendar tbody tr td.event-beige{background: rgba(245, 245, 220, 0.72);}
.calendar-frontend .row .cal-event-box{display:none;}
.row .calendar-title th {font-size: 18px;font-weight: 600;padding: 10px;}

.cldr{border: 0.5px solid black;}
.buffet-calendar-select{width:100%;}


.buffet-calendar-color{width:30px;height:30px;    display: inline-block;    margin-right: 2rem;}
.time-list{max-width: 400px;background: #E5E5E5;padding: 10px;border: 0.5px solid black;color: black;margin:auto;}
.time-item{display:flex;    align-items: center;margin-bottom: 10px;    text-align: left;    color: black;    font-weight: 500;}


.time-grid{display: flex;color: black;gap: 0 10px;margin-bottom: 5px;flex-wrap:wrap;}
.time-grid-item{display:flex; align-items: center;margin-bottom: 10px;    text-align: left;    color: black;    font-weight: 400;font-size: 14px;}
.time-grid-item .buffet-calendar-color{ margin-right: 0.5rem;}

.color-yellow{background:#E6CF04B8;}
.color-green{background:#22A71CAB;}
.color-blue{background:#0A8CEE78}
.color-red{background: #F1111185;}
.color-orange{background: rgba(255, 165, 0, 0.75);}
.color-beige{background: rgba(245, 245, 220, 0.72);}

/*fixes*/
.calendar.light-grey{margin-bottom:0!important;}

/* Show More */
.buffet-calendar-text-center{text-align:center;}
.buffet-calendar-btn{margin: auto;display: inline-block;background-color: #cf9d6c;border-color: #cf9d6c;color: #fff;border-radius: 6px;padding: 10px 20px;font-weight: 500;font-size: 1.125rem;cursor:pointer;}
.calendar-frontend .row.is-hidden{display:none;}
.buffet-calendar-settings-textarea{width:100%;}

/* F design */
.row .calendar-title th,.calendar-header th{background: white;}
